body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}
.hero-section{
    display: flex;
    margin: 0px 100px 100px 100px;
    background-image: url(images/Hirosec.png);
    background-repeat: no-repeat;
    background-size: 450px 450px;
    background-position: bottom 90px right 20px;

}
.downp{
    padding-bottom: 50px;
}

.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.headline{
    font-weight: bold;
    font-size: 60px;
    line-height: 120%;
    color: #575757;
    letter-spacing: -2%;
    margin-top: 200px;
}
.orange{
    color: #FBA24F;
}
.normalT{
    font-size: 18px;
    font-weight: 400;
    line-height: 136.4%;
    color: #828282;
}
.gbutton{
    text-decoration: none;
    background-image: linear-gradient(60deg, #FBA24F , #FF1E1E);
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 35px;
    border-radius: 30px;
    box-shadow: 0px 10px 10px 0px #b4b4b4;
}
.about-me{
    display: flex;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    margin-top: 200px;
}
.sheadline{
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0%;
    color: #707070;
}
.rightmargin{
    margin-right: 100px;
}
.lar-width{
    width: 60%;
}
.lar-width img{
    width: 40%;
    padding-top: 100px;
    padding-left: 200px;
}
.sma-width {
    width: 40%;
    padding-top: 150px;

}
.mid-al{
    text-align: center;
}
.my-recipies{
    margin:100px;
}
.dflex{
    display: flex;
}
.imagesize img{
    width: 10%;
    height: 10%;
}
.lastsec{
    display: flex;
    box-shadow: 20px 20px 20px 20px #c5c4c4;
    margin: 100px;
    padding: 0px 30px 50px 30px;
    border-radius: 20px;
}
.d{
    text-align: center;
    width: 33.33333%;
        float: left;
        height: 100px;
        margin: 10px

}
.fh{
    font-size: 48px;
    font-weight: bold;
    line-height: 64%;
    letter-spacing: 0%;
}
.lr{
    font-size: 16px;
    font-weight: 400;
    line-height: 26%;
    letter-spacing: 0%;
}
.fot{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    
}
.fots{
    color:white;
}
.fotr{
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.bg{
    background-color: #0B0D17;
    padding: 30px;
}
