body{
    font-family: "Helvetica Now Display DW", sans-serif;
    background-color: white;
    margin: 0px;
}
.tname{
    letter-spacing: 5px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    Color: #878a8f;

}
.mhead{
    padding-top: 30px;
    font-style: normal;
    font-size: 68px;
    line-height: 75px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #0B79AB;
}

.regulartext{
    padding: 30px 0px 30px;
    font-style: normal;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: #878a8f;
}

section {
    display: flex;
}

div{
    margin: 100px 50px 100px 50px;
}

.half-width{
    width: 50%;
}

.half-width img{
    width: 80%;
}

.link-button{
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    background-color: #0B79AB;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    
}
.link-text{
    padding-left: 50px;
    font-style: normal;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        color: #0B79AB;
        text-decoration: none;

}
#section1{
    /* background-image: url(images/bc.jpg); */
}
