body{
    margin-top: 100px;
    margin-left: 50px;
}
.tname{
    letter-spacing: 6px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400px;
    Color: #848484;

}
.mhead{
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    font-weight: 900px;
    letter-spacing: 1px;
    color: #0b79ab;
}