body{
    font-family: "Helvetica Now Display DW", sans-serif;
    background-color: white;
    margin: 0px;
}

.padL{
    margin-left: 30px;
}

.tname{
    letter-spacing: 5px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    Color: #878a8f;

}
.mhead{
    font-style: normal;
    font-size: 68px;
    line-height: 75px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #0B79AB;
}

.regulartext{
    padding: 30px 0px 30px;
    font-style: normal;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: #878a8f;
}

section {
    margin: 100px 50px 100px 50px;
}

.half-width{
    width: 50%;
}

.half-width img{
    width: 80%;
}

.link-button{
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    background-color: #0B79AB;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    
}
.link-text{
    font-style: normal;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        color: #0B79AB;
        text-decoration: none;

}
#section1{
    /* background-image: url(images/bc.jpg); */
    display: flex;
    margin: 100px 50px 100px 50px;
}

.flexi{
    display: flex;
    margin-top: 50px;

}
.subhead{
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    color: #72DDF7;
}
.box-text{
    color: white;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;

}
.box-color{
    background-color: #565254;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #878a8f;
    margin-right: 100px;
    margin-right: 100px;
    padding: 20px 40px;
    border-left: 10px solid #0B79AB;
}
footer p{
    text-align: center;
}